


@media (max-width: 900px) {
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .project-list,
    .info {
        flex-direction: column;
    }
    #home{
        gap :50px;
    }
    .project-list {
        grid-template-columns: 1fr;
    }

    header {
        /* flex-direction: column; */
        gap: 10px;
        height: auto;
        padding: 10px 20px;
    }
    .logo {
        font-size: 18px;
    }

    nav ul {
        /* flex-direction: column; */
        gap: 10px;
        font-size: 12px;
    }

    .omnitrix {
        width: 125px;
        height: 125px;
    }

    .omnitrix img {
        height: 125px;
    }

    #home h1 {
        font-size: 25px;
    }
}
